.main {
    height: 140px;
    padding: 4px;
    display: grid;
    grid-template-rows: 28px 1fr;
    background-color: rgba(20, 20, 20, 0.5);
    color: white;
    transition: 0.2s;

    &:hover {
        background-color: rgba(20, 20, 20, 1);
    }

    .title {
        -webkit-app-region: drag;
        display: grid;
        grid-template-columns: 1fr repeat(3, 28px);

        .icon {
            -webkit-app-region: no-drag;
            background-color: transparent;
            color: white;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s;

            &:hover {
                background-color: rgb(68, 79, 80);
                &.x{
                    background-color: rgb(233, 97, 18);
                }
            }
        }

        h3 {
            margin: 0;
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 8px;
        padding: 4px;
        padding-bottom: 8px;

        .card {
            background-color: transparent;
            color: white;
            border: none;
            padding: 8px;
            border-radius: 4px;
            box-shadow: 0 0 4px 0 rgb(158, 193, 196);
            text-align: center;
            transition: 0.3s;

            &[data-active=true]{
                background-color: rgba(108,142,225,0.25);
            }

            &:hover {
                box-shadow: 0 0 4px 2px rgb(108, 142, 225);
            }
        }
    }

}
